* {
    margin:0;
   padding: 0;
   font-family: sans-serif;
}
.hero{
    width: 100;
    height: 100vh;
    background-image: url(img/new.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-90%);
    z-index: 2;
}
h3{
    font-size: 60px;
    margin: 5px 0 40px;
    line-height: 80px;
}

 h2 {
    margin: 0;
    padding: 0;
    color: #ffff;
    font-size: 1em;
    line-height: 5;
}

h2 span{
    color:  #11C37C;
}

#button{
position: relative;
display: inline-block;
padding: 15px 30px;
color: #11C37C;
text-transform: uppercase;
letter-spacing: 4px;
text-decoration: none;
font-size: 24px;
overflow: hidden;
transition: 0.2s;
}

#button:hover{
color: #7A7FBA;
background: #11C37C; 
box-shadow: 0 0 10px #11C37C,0 0 40px #11C37C,0 0 80px #11C37C;
transition-delay: 1s;
}
#button span{
    position: absolute;
    display: block;
}

#button span:nth-child(1){
    top: 0;
    left:-100%;
    width: 100px;
    height: 2px;
    background: linear-gradient(90deg,transparent,#11C37C);
}
#button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;

}

#button span:nth-child(3){
    bottom: 0;
    right:-100%;
    width: 100px;
    height: 2px;
    background: linear-gradient(270deg,transparent,#11C37C);
}
#button:hover span:nth-child(3){
    right:100%;
    transition: 1s;
 transition-delay: 0.5s ;
    
}
#button span:nth-child(2){
    top: -100;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#11C37C);
}
#button:hover span:nth-child(2){
    top:100%;
    transition: 1s;
 transition-delay: 0.25s ;
    
}
#button span:nth-child(4){
    bottom: -100;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#11C37C);
}
#button:hover span:nth-child(4){
    bottom:100%;
    transition: 1s;
 transition-delay: 0.75s ;
    
}

@media(max-width:800px){
    h2{
    font-size: 1.7em;
}

h3{
    margin: 0 0 20px 0;
}